.button {
  @include flex();
  border-radius: $borderRadius;
  border: none;
  @include adaptive-value(width, 180, 100, 1);
  background: transparent;
  margin-bottom: 12px;
  &_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
