.main-faq {
  margin: 80px 0;
  scroll-margin-top: 20px;
  @media screen and (max-width: 991px) {
    @include adaptive-value(margin-top, 650, 400, 1);
    margin-top: 400px;
  }
}

.faq {
  &__text {
    @include flex();
    position: relative;
    @include adaptive-value(margin-bottom, 80, 30, 1);
    &-title {
      font-family: $mainFont;
      font-style: normal;
      font-weight: 600;
      @include adaptive-value(font-size, 46, 16, 1);
      @include adaptive-value(line-height, 69, 27, 1);
      color: $black;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-65%, 100%);
      @include adaptive-value(width, 100, 40, 1);
      @include adaptive-value(height, 15, 6, 1);
      border-radius: $borderRadius;
      background: $red;
    }
  }

  &__content {
    @include flex(flex-start, space-between);
    gap: 50px;
    &-accordion {
      width: 48%;
      .accordion__item {
        width: 80%;
        border: 2px solid $red;
        @include adaptive-value(padding-block, 18, 10, 1);
        @include adaptive-value(padding-inline, 32, 10, 1);
        cursor: pointer;
        &-title {
          @include flex(center, space-between);
          .main_title {
            font-family: $mainFont;
            font-style: normal;
            font-weight: 500;
            @include adaptive-value(font-size, 18, 14, 1);
            @include adaptive-value(line-height, 27, 21, 1);
            color: $black;
          }
          .main_icon {
            font-family: $mainFont;
            font-style: normal;
            font-weight: 500;
            @include adaptive-value(font-size, 18, 14, 1);
            @include adaptive-value(line-height, 27, 21, 1);
            color: $black;
          }
        }
        &-desc {
          max-height: 0;
          overflow: hidden;
          transition: $transition;
          .main_desc {
            font-family: $mainFont;
            font-style: normal;
            font-weight: $fontWeight;
            @include adaptive-value(font-size, 18, 14, 1);
            @include adaptive-value(line-height, 27, 21, 1);
            color: #a3a3a3;
          }
        }
        &:not(:last-child) {
          margin-bottom: 14px;
        }
        &.open {
          .accordion__item-desc {
            margin-top: 12px;
          }
        }
      }
      @media screen and (max-width: 991px) {
        width: 100%;
        .accordion__item {
          width: 100%;
        }
      }
    }
    &-question {
      width: 48%;
      background: #ffffff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1),
        0px 0px 10px rgba(0, 0, 0, 0.1);
      padding: 35px;
      .question_left-title {
        font-family: $mainFont;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 39px;
        color: $black;
        margin-bottom: 5px;
      }
      .question_send-title {
        font-family: $mainFont;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
        color: $black;
        margin-bottom: 30px;
      }
      .question_input {
        input {
          width: 100%;
          padding: 14px 32px;
          font-size: 18px;
          line-height: 27px;
          margin-bottom: 16px;
          border-radius: $borderRadius;
          border: 2px solid #b4b4b4;
          transition: $transition;
          outline: none;
          &:focus {
            border: 2px solid $red;
          }
          &::placeholder {
            font-family: $mainFont;
            font-style: normal;
            font-weight: $fontWeight;

            color: #b4b4b4;
          }
        }
      }
      .question_textarea {
        textarea {
          width: 100%;
          padding: 14px 32px;
          font-size: 18px;
          line-height: 27px;
          margin-bottom: 16px;
          border-radius: $borderRadius;
          border: 2px solid #b4b4b4;
          transition: $transition;
          outline: none;
          resize: none;
          &:focus {
            border: 2px solid $red;
          }
          &::placeholder {
            font-family: $mainFont;
            font-style: normal;
            font-weight: $fontWeight;

            color: #b4b4b4;
          }
        }
      }
      .question_btn {
        background: $red;
        box-shadow: 0px 4px 10px rgba(251, 25, 25, 0.34);
        @include adaptive-value(width, 250, 125, 1);
        border: 1px solid $red;
        padding: 11px 17px;
        font-family: $mainFont;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
        transition: $transition;
        opacity: 0.1;
        cursor: not-allowed;
        &.valid {
          opacity: 1;
          cursor: pointer;
          &:hover {
            background: transparent;
            color: $red;
            box-shadow: none;
          }
        }
      }
      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }
    @media screen and (max-width: 991px) {
      flex-direction: column;
    }
  }
}
