$mainFont: "Poppins", sans-serif;
$mainColor: #656565;
$fontWeight: 400;
$white: #ffffff;
$black: #000000;
$red: #db244a;
$transition: all 0.3s;


$sideBarWidth: 384px;
$borderRadius: 12px;

$mobile-width: 600px;
$tablet-width: 1024px;
