$mainFont: "Poppins", sans-serif;
$mainColor: #656565;
$fontWeight: 400;
$white: #ffffff;
$black: #000000;
$red: #db244a;
$transition: all 0.3s;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 12px;

$mobile-width: 600px;
$tablet-width: 1024px;
